.home{
    .home_heading{
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: 700;
        color: #3A3B3C;

        @media (max-width: 500px){
            font-size: 20px
        }
    }
    
    .home_texts{
        margin-top: 0;
        font-size: 28px;
        margin-bottom: 50px;
        @media (max-width: 500px){
            font-size: 18px
        }
    }

    li.ant-list-item{
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.15) !important;
    }

    li.ant-list-item:last-of-type{
        border-bottom: 0;
    }
}
